a:hover{
    text-decoration: none;
}

.image-bg-error{
    background-image: url("../images/image-bg-error.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    padding-bottom: 10rem;
    margin-bottom: -10rem;
}

.error-header{
    font-size: 7rem;
    padding-top: 10vh;
    margin-bottom: 4rem;
}

.error-content{
    text-align: center;
}

.error-link{
    color: #152a23;
}

.error-link:hover{
    background-color: rgba(34, 34, 34, 0.144);
    opacity: 0.8;
}

.error-link:active{
    box-shadow: 0.05rem 0.05rem 0.1rem rgb(10, 10, 10) inset; 
}

.error-link p{
    text-align: center;
    border: 0.1rem solid #222;    
    padding: 1rem;
    margin-top: 3rem;
}


/*Media screen max-width 992px*/

@media only screen and (max-width: 991px){

.error-header{
    font-size: 5rem;
}

.error-text{
    font-size: 1rem;
}
}
