a:hover{
    text-decoration: none;
}

/*Hero section*/
.image-hero{
    background-image: url("../images/image-banner1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.welcome{
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding: 2rem 0 1.25rem 0;
    margin-top: 12rem;
}

.welcome a{
    font-size: 1rem;
    color: #fff;
}

.add-recipe-button{
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(31, 117, 187);
    margin: 3rem 0 3rem 0;
    padding: 0.5rem 0 0.5rem 0;
    border: 1px solid rgb(14, 13, 13);
    border-radius: 0.15rem;    
}

.add-recipe-button:hover{ 
    border: 1px solid rgb(0, 0, 0);    
    text-decoration: none;
}

.add-recipe-button:active{ 
    border: 2px solid rgb(0, 0, 0);    
}


/*Categories section*/
.recipe-category-header{
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
}

.recipe-category{
    text-align: center;
}

.recipe-box{
    text-align: center;
    color: #152a23;
    background-color: rgba(77, 197, 7, 0.8);    
    border-radius: 0.1rem;
    padding: 7rem 1rem 5rem 1rem;
    margin: 1.5rem 0 1.5rem 0;    
}

.recipe-box:hover{
    background-color: rgba(7, 197, 188, 0.8);  
}