a:hover{
    text-decoration: none;
}

/*Hero section*/
.image-hero{
    background-image: url("../images/image-banner1.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 75vh;
}

.welcome{
    height: 50vh;
    font-size: 2.5rem;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0.5rem;
    padding-top: 2rem;
    margin-top: 12rem;
}

.welcome a{
    font-size: 1rem;
    color: #fff;
}

.add-recipe-button{
    width: 10rem;
    height: 2.5rem;
    background-color: rgb(31, 117, 187);
    margin: 3rem 0 3rem 0;
    padding: 0.5rem 0 0.5rem 0;
    box-shadow: 0.1rem 0.1rem 0.2rem rgb(10, 10, 10);
    border: 0.1rem solid rgb(10, 10, 10);
    border-radius: 0.15rem;    
}

.add-recipe-button:hover{ 
    background-color: rgb(31, 73, 187);
    border: 0.1rem solid rgb(0, 0, 0);    
    text-decoration: none;
}

.add-recipe-button:active{ 
    box-shadow: 0.05rem 0.05rem 0.1rem rgb(10, 10, 10) inset;   
}


/*Categories section*/
.category-header{
    text-align: center;
    padding: 1.5rem;
    margin-top: 3rem;
}

.category-box{
    text-align: center;
    color: #152a23;   
    border-radius: 0.1rem;
    border: 0.3rem solid transparent;
    padding: 7rem 1rem 5rem 1rem;
    margin: 1.5rem 0 1.5rem 0;
}

.category-box:hover{
    border: 0.2rem solid rgb(4, 136, 4);
    opacity: 0.8;
}

.category-box p{
    border-radius: 0.1rem;
    background-color: rgba(255, 255, 255, 0.8);
}

.category-image{
    background-image: url("../images/image-all-recipes.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.category-image-all{
    background-image: url("../images/image-all-recipes.jpg");
}

.category-image-asian{
    background-image: url("../images/image-asian.jpg");
}

.category-image-african{
    background-image: url("../images/image-african.jpg");
}

.category-image-western{
    background-image: url("../images/image-western.jpg");
}

.category-image-middle{
    background-image: url("../images/image-middle-eastern.jpg");
}

.category-image-other{
    background-image: url("../images/image-other.jpg");
}


/*Media screen max-width 576px*/


@media only screen and (max-width: 576px){

.welcome{
    margin-top: 8rem;
}

.welcome{
    height: 50vh;
    font-size: 2.5rem;
    padding-top: 2rem;
    margin-top: 12rem;
}

.welcome a{
    font-size: 1rem;
}

.add-recipe-button{
    width: 10rem;
    height: 2.5rem;
    margin: 3rem 0 3rem 0;
    padding: 0.5rem 0 0.5rem 0;
}


}