.image-bg-logreg {
    background-image: url("../images/image-logreg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding-bottom: 10rem;
    margin-bottom: -10rem;
}

.logreg-box{
    padding: 1rem;
    margin: 5rem 0 5rem 0;
    border: 1px solid rgba(34, 34, 34, 0.829);
    border-radius: 0.1rem;
    background-color: rgb(226, 208, 208);
}    

.logreg-form{
    padding-bottom: 2rem;
}

.logreg-header{
    text-transform: uppercase;
    text-align: center;
    padding: 0.1rem 0 1rem 0;
    font-size: 1.1rem;
}

.login-input{
    height: 2rem;
    width: 20rem;
    border: 1px solid rgba(34, 34, 34, 0.829);
    border-radius: 0.1rem;
}

.logreg-button{
    color: #fff;
    margin: 0.2rem 0 1rem 0;
    width: 20rem;
    border: 1px solid rgba(34, 34, 34, 0.829);
    border-radius: 0.2rem;    
    background-color: rgb(94, 94, 206);
}