.image-bg-logreg {
    background-image: url("../images/image-logreg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    padding-bottom: 30rem;
    margin-bottom: -30rem;
}

.logreg-cover{
    text-align: center;
    padding: 2rem;
    margin-top: 10rem;
    border-radius: 0.5rem;
    background-color: rgba(233, 222, 222, 0.781);
}    

.logreg-form{
    padding-bottom: 2rem;
}

.logreg-header{
    text-transform: uppercase;
    text-align: center;
    padding: 0.1rem 0 1.5rem 0;
}

.login-input{
    height: 2rem;
    width: 20rem;
    border: 1px solid rgba(34, 34, 34, 0.829);
    border-radius: 0.1rem;
}

.login-input:hover{
    opacity: 0.8;
}

.logreg-link a{
    color: rgb(31, 73, 187);
}

.logreg-link a:hover{
    text-decoration: underline;
}

#logreg-button{
    width: 20rem;
    margin: 0 0 2rem 0;
}

#logreg-button:active{
    box-shadow: 0.05rem 0.05rem 0.1rem rgb(10, 10, 10) inset;
    outline: none;
}

#logreg-button:focus{
    outline: none;
}
