label{
    font-size: 1.25rem;
}

.image-bg-recipe {
    background-image: url("../images/image-bg-recipe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.recipe-header{
    text-align: center;
    padding-top: 2rem;
}

.recipe-form{
    text-align: center;
    background-color: rgba(253, 243, 243, 0.781);
    border-radius: 0.5rem;
    padding: 2rem 5rem 2rem 5rem;
    margin: 5rem 0 2rem 0;
}

.recipe-input{
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    width: 50rem;
}

#ingredients, #instructions{
    text-align: left;
}


