/*Add recipe page styling*/

label{
    font-size: 1.25rem;
}

.image-bg-recipe {
    background-image: url("../images/image-bg-recipe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}

.recipe-header{
    text-align: center;
    padding-top: 2rem;
}

.recipe-form-cover{
    text-align: center;
    background-color: rgba(253, 243, 243, 0.781);
    border-radius: 0.5rem;
    padding: 2rem 5rem 2rem 5rem;
    margin: 5rem 0 2rem 0;
}

.recipe-input{
    text-align: center;
    margin: 0.5rem 0 1rem 0;
    width: 50rem;
}

#ingredients, #instructions{
    text-align: left;
}


/*All & category recipes page styling*/

.recipes-header{
    text-align: center;    
    padding: 2rem;
}

.recipe-outer-box{
    display: block;
    width: 100%;
    height: 30rem;
    padding: 2rem;
}

.recipe-outer-box a:hover{
    text-decoration: none;
}

.recipe-box{
    color: #152a23;
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(184, 184, 184);
}

.recipe-box:hover{   
    opacity: 0.8;
}

.recipe-box:active{   
    box-shadow: 0.3125rem 0.3125rem 0.625rem rgb(138, 138, 138);
}

.recipe-box-header{
    padding: 1rem 0 0.5rem 1rem;
}

.recipe-box-header h2{
    text-transform: capitalize;
}

.recipe-box-header h5{
    color: rgb(216, 13, 13);
}

.recipe-box-content{
    padding-bottom: 1rem;
    margin: 1rem 0 2rem 1rem;
}

.recipe-box:hover{
    text-decoration: none;
}

.recipe-image{
    width: 100%;
    height: 14rem;
}


/*Get recipe page styling*/
.get-recipe-box{
    margin: 2rem 0 2rem 0;
}

.get-recipe-image{
    padding: 1rem;
    width: 25rem;
    height: 25rem;
}

.get-recipe-box-content{
    padding: 1rem;
}

.get-recipe-button{
    border: 0.1rem solid #000000;
    border-radius: 0.1rem;
    color: #152a23;
    background-color: rgb(218, 196, 196);
    padding: 0.5rem;
}

.get-recipe-button:hover{
    color: #152a23;
    background-color: #fff;
    border: 0.2rem solid #000000;
    text-decoration: none;    
}

#delete-recipe-button{
    background-color: rgb(118, 231, 103);
}

