@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap:100,200,300,400,500,600,700');


body{
    background-color: #F0F0F0;
    color: #152a23;
    font-family: 'Playfair Display', serif, sans-serif;
}