@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap:100,200,300,400,500,600,700');

/*General styling*/
body{
    background-color: #F0F0F0;
    color: #152a23;
    font-family: 'Playfair Display', serif, sans-serif;
}

footer{
    text-align: center;
    width: 100%;
    padding-top: 1rem;
}

.sm-font{
    font-size: 0.75rem;
}

.md-font{
    font-size: 1.5rem;
}

.lg-font{
    font-size: 2rem;
}

/*Navbar*/
nav a{
    color: #152a23;
}

.nav-hover:hover{
    color: rgb(79, 136, 6);
}

#navbar-custom{
    background-color:rgba(82, 194, 30, 0.705);
    padding: 1rem 0 1rem 0; 
}

#logo{
    color: #152a23;
}

#logo:hover{
    color: rgb(79, 136, 6);    
}


/*Footer*/
.social-media{
    color: #152a23;
}

.social-media:hover{
    color: rgb(79, 136, 6);
}

#copyright{
    padding-top: 1.3rem;
}