{% extends 'base.html' %} {% block content %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/error.css') }}">
<div class="image-bg-error error-content">
    <div class="container">
        <div class="row">
            <div class="col-8 md-font mx-auto">
                <p class="error-header">404</p>
                <p>Page Not Found</p>
                <p>Sorry but the page that you requested doesn't exist</p> 
            </div>        
        </div>
        <div class="row">
            <div class="col-4 md-font mx-auto">
                <a href="{{url_for('home')}}">
                    <div class="error-link">
                        <p>Return to Home Page</p>
                    </div>
                </a>                 
            </div>
        </div>
    </div>
</div>
{% endblock %}