{% extends 'base.html' %} {% block content %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="image-bg-recipe">
    <div class="container">
        <div class="row">
            <div class="col recipe-header">
            <h1>Connect your Recipe</h1>
            </div>    
        </div>
        <div class="row mx-auto">
            <div class="col recipe-form">
                <form action="{{ url_for('insert_recipe') }}" method="POST" class="recipe-form">
                    <label for="name">Recipe Name</label>
                        <div>
                            <input class="recipe-input" type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>
                    <label for="image">Recipe Image</label>
                        <div>
                            <input class="recipe-input" type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                        
                    <label for="category">Category</label>
                        <div>
                            <input class="recipe-input" type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                        
                    <label for="description">Description</label>
                        <div>
                            <input class="recipe-input" type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                                
                    <label class="label-ingredients" for="ingredients">Ingredient List</label>
                        <div>
                            <textarea class="recipe-input" name="ingredients" id="ingredients" cols="50" rows="8"></textarea>
                        </div>                          
                    <label class="label-recipe" for="instructions">Instructions</label>
                        <div>
                            <textarea class="recipe-input" name="instructions" id="instructions" cols="50" rows="8"></textarea>
                        </div>                          
                    <button type="submit" name="action">Share!</button>            
                </form>              
            </div>  
        </div>
    </div>
</div>




{% endblock %}