{% extends 'base.html' %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


{% block content %}
<section>
    <div class="image-bg-recipe">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 welcome">
                    <h2>Add your Recipe</h2>
                    <p class="md-font">Test</p>
                </div>
                <div class="col-2"></div>
            </div>   
        </div>
    </div>
</section>


{% endblock %}