{% extends 'base.html' %} {% block content %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="image-bg-recipe">
    <div class="container">
        <div class="row mx-auto">
            <div class="col-2"></div>
            <div class="col-8 add_recipe sm-font">
                <form>
                    <label for="name">Recipe Name</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>
                    <label for="image">Recipe Image</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                        
                    <label for="category">Category</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                        
                    <label for="description">Description</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                                
                    <label for="ingredients">Ingredient List</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                                
                    <label for="instructions">Instructions</label>
                        <div>
                            <input type="text" name="rname" aria-label="recipe name" maxlength="50" required>
                        </div>                          
                    <input type="submit" value="Share!">                 
                </form>              
            </div>
            <div class="col-2"></div>  
        </div>
    </div>
</div>




{% endblock %}