{% extends 'base.html' %} {% block content %}

<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

{% for recipe in recipes%}

<div class="container">
  <div class="row">
    <div class="col-4">
        {{recipe.recipe_name}}
        {{recipe.recipe_description}}
        {{recipe.recipe_category}}
        {{recipe.recipe_ingredients}}
        {{recipe.recipe_instructions}}
    </div>
  </div>
</div>

{% endfor %}

{% endblock %}