<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Link to bootstrap theme-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<!--Link to fontawesome icons-->
    <script src="https://kit.fontawesome.com/5c1546936d.js" crossorigin="anonymous"></script>

    <!--Link to css files-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <title>Recipes Connected</title>
</head>
    

<body>
    <nav class="navbar navbar-expand-lg" id="navbar-custom">
        <a class="navbar-brand nav-hover lg-font" id="logo" href="{{url_for('home')}}">Recipes &harr; Connected</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>        
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto md-font">
                <li class="nav-item active">
                    <a class="nav-link nav-hover" href="{{url_for('home')}}">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="{{url_for('all_recipes')}}">All Recipes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="{{url_for('add_recipe')}}">Add Recipe</a>
                </li>                            
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="{{url_for('register')}}">Register</a>
                </li>                                  
                <li class="nav-item">
                    <a class="nav-link nav-hover" href="{{url_for('login')}}">Login</a>
                </li>                  
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0  search-bar" type="submit">Search</button>
            </form>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
        
    <footer>
        <div class="container-fluid">
            <div class="row">
                <div class="col-4"></div>
                <div class="col-1 col-md-1">
                    <a href="https://twitter.com" class="social-media lg-font" target="_blank" rel="noopener">
                    <i class="fab fa-twitter-square" aria-hidden="true"></i>
                    <span class="sr-only">twitter</span>
                    </a>
                </div>
                <div class="col-1 col-md-1">
                    <a href="https://youtube.com" class="social-media lg-font" target="_blank" rel="noopener">
                    <i class="fab fa-youtube-square" aria-hidden="true"></i>
                    <span class="sr-only">twitter</span>
                    </a>
                </div> 
                <div class="col-1 col-md-1">
                    <a href="https://facebook.com" class="social-media lg-font" target="_blank" rel="noopener">
                    <i class="fab fa-facebook-square" aria-hidden="true"></i>
                    <span class="sr-only">twitter</span>
                    </a>
                </div> 
                <div class="col-1 col-md-1">
                    <a href="https://instagram.com" class="social-media lg-font" target="_blank" rel="noopener">
                    <i class="fab fa-instagram-square" aria-hidden="true"></i>
                    <span class="sr-only">twitter</span>
                    </a>
                </div>
                <div class="col-4"></div>                                     
            </div>
            <div class="row">
                <div class="col-4"></div>
                <div class="col-4 sm-font">
                    <p id="copyright"><i class="far fa-copyright" aria-hidden="true"></i>
                        <span class="sr-only">Copyright</span> 2020 Matthew Yong All Rights Reserved</p>
                </div>
                <div class="col-4"></div>
            </div>
        </div>    
    </footer>

	<!-- Bootstrap JavaScript files -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
    </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
</body>
</html>