{% extends 'base.html' %} {% block content %}


<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">

<div class="container">
    <div class="recipes-header">
        <h1>{{title.recipe_category}}</h1>
    </div>
	<div class="row">
		{% for recipe in recipes %}
		<div class="col-12 col-md-6 col-xl-4 recipe-outer-box">
            <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}">
                <div class="recipe-box">
                    <div>
                        <img class="recipe-image" src="{{recipe.recipe_image}}" alt="recipe image">                
                    </div>
                    <div class="recipe-box-header special-font">
                        <h2>{{recipe.recipe_name}}</h2>       
                        <h5>by {{recipe.recipe_username}}</h5>         
                    </div>                
                    <div class="recipe-box-content">
                        <p><i class="fas fa-globe-americas"></i> 
                        {{recipe.recipe_category}}</p>                    
                        <p><i class="fas fa-hourglass-end"></i>
                        {{recipe.recipe_preptime}}</p>               
                    </div>
                </div>
            </a>
		</div>
        {% endfor %}
	</div>
</div>
{% endblock %}