{% extends 'base.html' %} {% block content %}


<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container">
    <div class="recipes-header">
        <h1>{{recipes}}</h1>
    </div>
	<div class="row">
		{% for recipe in recipes %}    
        {%  if recipes.count() > 0 %}               
		<div class="col-4">
        <a href="{{ url_for('get_recipe', recipe_id=recipe._id) }}" class="recipe-box">
			<div class="recipe-box-content">
				<div>
					<img class="recipe-image" src="{{recipe.recipe_image}}" alt="recipe image">
                </div>
				<div>
					<h4>{{recipe.recipe_name}}</h4>
					<p>{{recipe.recipe_description}}</p>
					<p>{{recipe.recipe_category}}</p>
                    <p>{{recipe.recipe_preptime}}</p>
				</div>
			</div>
        </a>
		</div>    
        {% else %}
        <div>
        	<div class="col-4">
                <h4>No recipes</h4>
            </div>
        </div>
        {% endif %}

        {% endfor %}
	</div>
</div>
{% endblock %}