{% extends 'base.html' %} {% block content %}


<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

<div class="container">
	<div class="row">
		<div class="col-4">
			<div class="get-recipe-box">
				<div>
					<img class="get-recipe-image" src="{{recipe.recipe_image}}" alt="recipe image">
                </div>
				<div class="get-recipe-box-content">
					<h4>{{recipe.recipe_name}}</h4>
					<p>{{recipe.recipe_description}}</p>
					<p> {{recipe.recipe_category}} </p>
                    <p> {{recipe.recipe_preptime}} </p>    
                    <p> {{recipe.recipe_ingredients}} </p> 
                    <p> {{recipe.recipe_instructions}} </p>     
				</div>
			</div>
		</div>
	</div>
	<div class="row">  
		<div class="col-6">
			<div>
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="get-recipe-button">Edit</a>
			</div>
		</div>
		<div>
			<div>
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="get-recipe-button" id="delete-recipe-button">Delete</a>
			</div>
		</div>              
	</div>
</div>

{% endblock %}