{% extends 'base.html' %} {% block content %}


<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/recipe.css') }}">

<div class="container content-wrap">
	<div class="row mx-auto get-recipe-box">
        <div class="col-lg-6 col-12">
            <div class="get-recipe-box-header special-font">
                <p>{{recipe.recipe_name}}</p>       
                <h4>by {{recipe.recipe_username}}</h4>         
            </div>
            <div class="xs-font">
                <p><i class="fas fa-utensils"></i> 
                {{recipe.recipe_description}}</p>
                <p><i class="fas fa-globe-americas"></i>
                Category: {{recipe.recipe_category}}</p>
                <p><i class="fas fa-hourglass-end"></i> 
                Preparation Time: {{recipe.recipe_preptime}}</p>            
            </div>            
        </div> 
		<div class="col-lg-6 col-12">
			<img class="get-recipe-image" src="{{recipe.recipe_image}}" alt="recipe image">
        </div> 
	</div>
    <div class="row mx-auto get-recipe-list sm-font">
        <div class="col-lg-6 col-12">
            <div class="get-recipe-ingredients mx-auto">
                <h2 class="special-font">Ingredients</h2>
                <ol>
                    {% for break in recipe.recipe_ingredients.splitlines() %}
                    <li>
                        {{break}}
                    </li>
                    {% endfor %}    
                </ol>                                    
            </div>            
        </div>
        <div class="col-lg-6 col-12">
            <div class="get-recipe-instructions mx-auto">
                <h2 class="special-font">Instructions</h2>
                <ol>
                    {% for break in recipe.recipe_instructions.splitlines() %}
                    <li>
                        {{break}}
                    </li>
                    {% endfor %}    
                </ol>             
            </div>         
        </div>
    </div>
    {% if session['user'] and session['user'].capitalize() == recipe.recipe_username %}  
	<div class="row">  
		<div class="col-6">
        <!--Only show edit/delete button if user has added the recipe-->
            <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
                <div class="recipes-connected-button mx-auto">Edit</div>
            </a>
		</div>
		<div class="col-6">
            <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}"  onclick="alert('Recipe is Deleted!')">
            <div class="recipes-connected-button mx-auto" id="delete-recipe-button">Delete</div>
            </a>          
		</div>        
	</div>
    {% endif %} 
</div>

{% endblock %}

