{% extends 'base.html' %} {% block content %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

<section>
    <div class="image-hero">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 welcome">
                    <h1>Welcome to Recipes &harr; Connected</h1>
                    <p class="md-font">Share your Recipe with the World!</p>
                </div>
                <div class="col-2"></div>
            </div>    
            <div class="row recipe-category">
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
            </div>
            <div class="row recipe-category">
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
                <div class="col-4">
                    <div class="recipe-box">
                        <p> One of three columns
                        </p>                
                    </div>
                </div>
            </div>           
       
        </div>
    </div>

</section>
{% endblock %}
