{% extends 'base.html' %} {% block content %}
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">

    <div class="image-hero">
        <div class="container">
            <div class="row">
                <div class="col-7 mx-auto welcome">
                    <h1>Welcome <b class="special-font">{{session['user']}}</b> to 
                    <br> Recipes &harr; Connected
                    </h1>
                    <br><p class="md-font">Share your Recipe with the World!</p>
                    <a href="{{url_for('add_recipe')}}">
                        <div class="col-4 add-recipe-button mx-auto">
                            Add Your Recipe &nbsp <i class="fas fa-plus"></i>
                        </div>
                    </a>
                </div>
            </div>    
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-8 category-header mx-auto">
                <h1>Choose a Category</h1>
                <br><h6>Start learning new recipes and taste the world!</h6>        
            </div>
        </div>        
        <div class="row">
            <div class="col-4">
                <a href="{{ url_for('all_recipes') }}">
                    <div class="category-box md-font category-image category-image-all">
                        <p>All Recipes</p>                           
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('category_recipes', category='Asian') }}">
                    <div class="category-box md-font category-image category-image-asian">
                        <p>Asian</p>                
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('category_recipes', category='African') }}">
                    <div class="category-box md-font category-image category-image-african">
                        <p>African</p>                
                    </div>
                </a>
            </div>
        </div>
        <div class="row recipe-category">
            <div class="col-4">
                <a href="{{ url_for('category_recipes', category='Western') }}">
                    <div class="category-box md-font category-image category-image-western">
                        <p>Western</p>                
                </div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('category_recipes', category='Middle Eastern') }}">
                    <div class="category-box md-font category-image category-image-middle">
                        <p>Middle Eastern</p>                
                    </div>
                </a>
            </div>
            <div class="col-4">
                <a href="{{ url_for('category_recipes', category='Other') }}">
                    <div class="category-box md-font category-image category-image-other">
                        <p>Other</p>                
                    </div>
                </a>
            </div>
        </div> 
    </div>    

{% endblock %}
