{% extends 'base.html' %} {% block content %} 
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginregister.css') }}">


<div class="container">
    <div class="row">
        <div class="col-4 logreg-box mx-auto">
            <form action="" method="POST">
                <label for="name">Username</label>               
                <div class="logreg-form">    
                    <input class="login-input sm-font" type="text" name="username" aria-label="username" placeholder="Username" required>
                </div>    
                <label for="name">Password</label>   
                <div class="logreg-form">        
                    <input class="login-input sm-font" type="text" name="password_name" aria-label="password" placeholder="Password" required>
                </div>  
                <button class="logreg-button" type="submit" name="action">Log In</button>                            
                      
            </form>
        </div>    
    </div>
</div>



{% endblock %}
