{% extends 'base.html' %} {% block content %} 
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginregister.css') }}">

<div class="image-bg-logreg">
    <div class="container">
        <div class="row">

        </div>
        <div class="row">
            <div class="col-5 logreg-cover mx-auto">
                <form action="{{ url_for('login') }}" method="POST">
                    <div class="logreg-header md-font">Log In</div>             
                    <div class="logreg-form">    
                        <input class="login-input xs-font" type="text" name="username" aria-label="username" placeholder="Username" required>
                    </div>    
                    <div class="logreg-form">        
                        <input class="login-input xs-font" type="password" name="password" aria-label="password" placeholder="Password" required>
                    </div>  
                    <div class="col-8 mx-auto xs-font flash_message">
                    <!--Code used from https://pythonise.com/series/learning-flask/flask-message-flashing-->
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>                       
                    <button class="recipes-connected-button" id="logreg-button" type="submit" name="action">Log In</button>                               
                    <div>
                        <p>Don't have an account? <a href="{{ url_for('register') }}">Register here.</a></p>
                    </div>                      
                </form>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
