{% extends 'base.html' %} {% block content %} 
<!--Link to css files-->
<link rel="stylesheet" href="{{ url_for('static', filename='css/loginregister.css') }}">

<div class="image-bg-logreg">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6 col-md-7 col-sm-9 col-10 logreg-cover mx-auto">
                <form action="{{ url_for('register') }}" method="POST">
                    <div class="logreg-header md-font">Register</div>   
                    <div class="logreg-form">        
                        <input class="login-input xs-font" type="text" name="email" aria-label="enter your email" placeholder="Enter your Email" required>
                    </div>                            
                    <div class="logreg-form">    
                        <input class="login-input xs-font" type="text" name="username" aria-label="choose username" placeholder="Choose Username" minlength="4" maxlength="10" required>
                    </div>    
                    <div class="logreg-form">        
                        <input class="login-input xs-font" type="password" name="password" aria-label="choose password" placeholder="Choose Password" minlength="8" maxlength="20" required>
                    </div>  
                    <div class="col-12 mx-auto xs-font flash_message">
                    <!--Add a text message to show user that registration has failed. Code used from https://pythonise.com/series/learning-flask/flask-message-flashing-->
                        {% with messages = get_flashed_messages() %}
                            {% if messages %}
                                {% for message in messages %}
                                    <p>{{ message }}</p>
                                {% endfor %}
                            {% endif %}
                        {% endwith %}
                    </div>                          
                    <button class="recipes-connected-button" id="logreg-button" type="submit" name="action">Register</button>
                    <div>
                        <p class="logreg-link"> Already registered? <a href="{{ url_for('login') }}">Log In here.</a></p>
                    </div>                      
                </form>
            </div>    
        </div>
    </div>
</div>
{% endblock %}
